@font-face
    font-family: "Roboto"
    src: local("Roboto")
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype")

::-webkit-scrollbar
    width:  75px

::-webkit-scrollbar-thumb
    background-image: url(./assets/images/boat.png)
    background-repeat: no-repeat
    padidng-top: 50%

::-webkit-scrollbar-track
    background: url(./assets/images/wave.png)
    background-repeat: repeat-y

body
    background: #383838
    font-family: "Roboto"
    color: white